.password-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

.strength-indicator {
  display: flex;
  justify-content: space-between;
}

.strength-indicator div {
  width: 30%;
  height: 10px;
  border-radius: 5px;
}

.section-gray {
  background-color: gray;
}

.section-red {
  background-color: red;
}

.section-yellow {
  background-color: yellow;
}

.section-green {
  background-color: green;
}
